<head>
  <meta charset="UTF-8">
  <title>Exames médicos</title>
  <style>
    
  </style>
</head>
<body>
  <h1>Exames médicos</h1>
 
  <div class="forms-container">
    <form id="form_csv" action="http://localhost:3001/tests" method="post" enctype="multipart/form-data">
      <label for="file">Enviar arquivo CSV</label>
      <input type="file" id="file" name="csv_file"/>
      <button type="button" onclick="submitFormCSV()">Enviar</button>
    </form>
    
    <form id="form_token" action="http://localhost:3001/tests/search" method="get">
      <label for="tokenInput">Token do Resultado</label>
      <input type="text" id="tokenInput" name="token" placeholder="Token do Resultado"/>
      <button type="button" onclick="submitFormToken()">Pesquisar</button>
    </form>
  </div>

  <div class="cards">
  </div>
  
  <script src="main.js"></script>
</body>